<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/frontend.js"></script>
    <link rel="stylesheet" href="/style.css">
</head>
    <body style="text-align: center">
        <div class="bg"></div>
        <div class="editFormDiv">
            <form>
                <% if(row) {%>
                <label>
                    <br><a class="profileFields">Name</a>
                    <br><input type="text" id="Name" name="name" placeholder="First name" value="<%= row.Name %>">
                    <br><a class="profileFields">Last Name</a>
                    <br><input type="text" id="LastName" name="lastName" placeholder="Last name" value="<%= row.LastName %>">
                    <br><a class="profileFields">Email</a>
                    <br><input type="text" id="email" name="email" placeholder="Email" value="<%= row.email %>">
                    <br><a class="profileFields">Password</a>
                    <br><input type="text" id="password" name="password" placeholder="Password" value="<%= row.password %>">

                    <br>
                    <div style="margin-top: 5px">
                        <button type="button" class="cancelButton" onclick="validateProfile()">
                            <img src="confirmIcon.png" class="confirmIcon" alt="Confirm">
                        </button>

                        <a href="/profile" class="cancelButton">
                                <img src="cancelIcon.png" class="cancelIcon" alt="Cancel">
                        </a>
                    </div>

                    <p id="error" class="error"></p>

                    <% if (error) { %>
                        <br><p name="error" class="error"><%= error %></p>
                    <% } %>

                </label>
                <%}%>
            </form>
        </div>
    </body>
</html>